<div class="navbar navbar-default navbar-static-top custom-navbar" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <div class="box img">
          BRAD BADER 
        </div>
        <!-- <span class="icon">🏄</span> -->
      </a>
    </div>
    <div class="" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="fitness-count-container">
            <i class="fa fa-heartbeat">  </i> 
            <span class="count"> 95 </span>
        </li>
        <li class="steps-count-container">
            <img src="/assets/images/noun_69797_cc.svg" class="noun_sport"></img>
            <span class="count"> {{ data.steps }} </span>
        </li>
        <div class="last-updated-time hidden-xs"> last updated: 2 hours ago </div>
      </ul>
    </div>
  </div>
</div>


<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
 -->
<div class="loader-container" ng-if="!contentLoaded">
 <div aria-busy="true" aria-label="Loading" role="progressbar">
   <div role="presentation"></div>
 </div>
</div>
<div class="container main-page">
  <div class="row" >
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-init="listenTouchEnd()">
      <a ui-sref="about">
        <div class="link-container about" ng-class="{'active': activeAbout }" ng-mouseenter="activeAbout=true" ng-mouseleave="activeAbout=false" hm-hold="activeAbout=true" ng-mouseup="mouseup()">
          <div class="make-center"> ABOUT </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a ui-sref="video">
        <div class="link-container video" ng-class="{'active': activeVideo }" ng-mouseenter="activeVideo=true" ng-mouseleave="activeVideo=false" hm-hold="activeVideo=true"  ng-mouseup="activeVideo=false">
          <div class="make-center"> VIDEO </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a ui-sref="ux">
        <div class="link-container ux" ng-class="{'active': activeUx }" ng-mouseenter="activeUx=true" ng-mouseleave="activeUx=false" hm-hold="activeUx=true"  ng-mouseup="activeUx=false">
          <div class="make-center"> UX </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a href="http://twitter.com/bradbader" target="blank">
        <div class="link-container twitter" ng-class="{'active': activeTwitter }" ng-mouseenter="activeTwitter=true" ng-mouseleave="activeTwitter=false" hm-hold="activeTwitter=true"  ng-mouseup="activeTwitter=false">
          <div class="make-center"> <i class="fa fa-twitter"></i>  </span> </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a ui-sref="contact">
        <div class="link-container envelope" ng-class="{'active': activeEnvelope }" ng-mouseenter="activeEnvelope=true" ng-mouseleave="activeEnvelope=false"> 
          <div class="make-center"> <i class="fa fa-envelope-o"></i> </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a ui-sref="insta">
        <div class="link-container instagram" ng-class="{'active': activeInstagram }" ng-mouseenter="activeInstagram=true" ng-mouseleave="activeInstagram=false">
          <div class="make-center"> <i class="fa fa-instagram"></i> </div>
        </div>
      </a>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Fitbit API:</h1>
      <button class="btn btn-block btn-danger" ng-click="authorize()">Login with Fitbit</button>
    </div>
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div> -->
</div>

<!-- <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->